Repository RobertiOS/CardFortress: changes, and which Codecov flags are due for each by the changed paths.
All: CardFortress, CardFortress_APIs, CardFortress_Modules

update codecov yml
  codecov.yml
Due: none

update workflow
  .github/workflows/build.yml
Due: none

ignore modules folder
  codecov.yml
Due: none

code cov formating
  codecov.yml
Due: none

add components to group code cov
  codecov.yml
Due: none

Update README.md
  README.md
Due: none

fix broken tests
  CardFortress/APIs/APIMocks/AddCreditCard/AddCreditCardCoordinatorFactoryMock.swift
  CardFortress/CardFortressApp/SceneDelegate+Setup.swift
  CardFortressTests/CardFortressAppCoordinator/CardFortressAppCoordinatorTests.swift
  CardFortressTests/Features/AddCreditCard/AddCreditCardCoordinatorTests.swift
  CardFortressTests/Features/MainList/CardListCoordinatorTests.swift
  CardFortressTests/Mocks/ContainerMock.swift
  CardFortressTests/UIAlertControllerBuilderTests.swift
  CardFortressUITests/LoginViewUITests.swift
Due: CardFortress

moving files to tests target
  CardFortress.xcodeproj/project.pbxproj
  CardFortressTests/Mocks/APIMocks/AddCreditCard/AddCreditCardAPIMock.swift
  CardFortressTests/Mocks/APIMocks/AddCreditCard/AddCreditCardCoordinatorFactoryMock.swift
  CardFortressTests/Mocks/APIMocks/AddCreditCard/AddCreditCardViewControllerFactoryMock.swift
  CardFortressTests/Mocks/APIMocks/AuthDataSourceAPIMock.swift
  CardFortressTests/Mocks/APIMocks/Authentication/AuthViewControllerFactoryMock.swift
  CardFortressTests/Mocks/APIMocks/Authentication/AuthenticationCoordinatorFactoryMock.swift
  CardFortressTests/Mocks/APIMocks/AuthenticationAPIMock.swift
  CardFortressTests/Mocks/APIMocks/BiometricAuthAPIMock.swift
  CardFortressTests/Mocks/APIMocks/CardList/CardListCoordinatorFactoryMock.swift
  CardFortressTests/Mocks/APIMocks/CardList/CardListViewControllerFactoryMock.swift
  CardFortressTests/Mocks/APIMocks/MockListService.swift
  CardFortressTests/Mocks/APIMocks/SecureStoreMock.swift
  CardFortressTests/Mocks/APIMocks/SecureUserDataAPIMock.swift
  CardFortressTests/Mocks/APIMocks/TabBar/CardFortressCoordinatorFactoryMock.swift
Due: CardFortress

enable image parser tests
  CardFortress.xcodeproj/project.pbxproj
  CardFortress/Core/Extensions/UITextField+Extensions.swift
  CardFortressTests/CardFortress.xctestplan
Due: CardFortress

increase coverage
  CardFortress/APIs/Authentication/SecureUserDataAPI.swift
  CardFortressTests/APIs/SecureUserDataTests.swift
Due: CardFortress

add tests for snackbar
  CardFortress.xcodeproj/project.pbxproj
  CardFortressTests/UIViewController+ExtensionsTests.swift
Due: CardFortress

rename auth api
  CardFortress.xcodeproj/project.pbxproj
  CardFortressTests/AuthtenticationAPITests.swift
Due: CardFortress

increasing code coverage
  CardFortress/Features/MainList/Presentation/CardListViewController.swift
  CardFortressTests/CardListViewControllerTests.swift
Due: CardFortress, CardFortress_APIs

increasing codecoverage
  CardFortress/Features/AddCreditCard/Presentation/AddCreditCardViewController.swift
  CardFortressTests/Features/AddCreditCard/AddCreditCardViewControllerTests.swift
Due: CardFortress, CardFortress_APIs

refactor and increase coverage
  CardFortress/Core/Extensions/UIAlertController+Builder.swift
  CardFortress/Features/MainList/Presentation/CardListViewController.swift
  CardFortressTests/CardListViewControllerTests.swift
  CardFortressTests/Mocks/MockListViewModel.swift
Due: CardFortress, CardFortress_APIs

remove file
  CardFortress.xcodeproj/project.pbxproj
  CardFortress/Features/MainViewControllerFactory.swift
Due: CardFortress, CardFortress_APIs

refactoring container view to stack view
  CardFortress/Features/AddCreditCard/Presentation/AddCreditCardViewController.swift
Due: CardFortress, CardFortress_APIs

fix delegate not assigned on cftextfield
  CardFortress/Core/CustomViews/CFTextField.swift
Due: CardFortress

add string extension
  CardFortress.xcodeproj/project.pbxproj
  CardFortress/Core/Extensions/String+Extensions.swift
  CardFortressTests/String+ExtensionsTests.swift
Due: CardFortress

update asset generation
  CardFortress/Modules/CFHelper/Sources/CFSharedUI/swiftgen.yml
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/CFSharedColors+Generated.swift
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/CFSharedImages+Generated.swift
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/Process/Colors.xcassets/Contents.json
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/Process/Colors.xcassets/Purple1.colorset/Contents.json
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/Process/Colors.xcassets/Purple2.colorset/Contents.json
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/Process/Colors.xcassets/Purple3.colorset/Contents.json
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/Process/Colors.xcassets/Purple4.colorset/Contents.json
  CardFortress/Modules/CFHelper/Sources/FeatureModules/CFSharedResources/Resources/swiftgen.yml
Due: none

update credit card view
  CardFortress/Modules/CFHelper/Sources/CFSharedUI/CreditCardView/BackgroundCreditCard.swift
  CardFortress/Modules/CFHelper/Sources/CFSharedUI/CreditCardView/CreditCardView.swift
Due: none

improving design of background view
  CardFortress/CardFortressApp/Presentation/TabBarContainerCoordinator.swift
  CardFortress/Modules/CFHelper/Sources/CFSharedUI/CreditCardView/BackgroundCreditCard.swift
  CardFortress/Resources/Colors.xcassets/Purple.colorset/Contents.json
Due: CardFortress

more improvements
  CardFortress.xcodeproj/project.pbxproj
  CardFortress/Core/Extensions/TextFieldStyles.swift
  CardFortress/Features/Authentication/Presentation/Login/LoginView.swift
  CardFortress/Features/MainList/OptionsViewController.swift
  CardFortress/Features/MainList/Presentation/CardListViewController.swift
  CardFortressTests/CardListViewControllerTests.swift
Due: CardFortress, CardFortress_APIs

Path conditions:
  CardFortress: any of: CardFortress, but not: **/CardFortress/Modules/**/*
  CardFortress_APIs: (any of: CardFortress/APIS, but not: **/CardFortress/Modules/**/*) or (any of: CardFortress/Features, but not: **/CardFortress/Modules/**/*)
  CardFortress_Modules: any of: CardFortress/Modules, but not: **/CardFortress/Modules/**/*
